 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    font-family: "Inter", sans-serif;
}
header{
    background-color: #ffffff;
}

/* navbar starts here */
nav {
    padding: 16px 120px;
    border-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
}
.link-parent li a{
    
    text-decoration: none;
    list-style: none;
    color:#000000;
}
.btn{
    align-items: center;
    background-color: #3f8e60;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-emphasis-color: #ffffff;
    
}
.btn:hover{
    background-color: rgb(43, 43, 46);
}
/* navbar ends here */

/* hero section here */
.hero-section{
    background-image: url("assets/hero-bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 674px;
    margin: 0 auto;
    
}
.hero-parent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
} 

.early-access{
    background-color:rgba(255, 255, 255, 1);
    border-radius: 1000px;
    margin-bottom: 16px;
    border: none;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: green;
    
}
.early-access:hover{
     background-color: #020d07;
}
.early-access .status-icon{
    background-color: rgba(70, 145, 101, 1);
    border-radius: 8px;
    display: flex;
}
.status-icon::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(29, 121, 68);

}
.hero-parent h1{
    font-size: 72px;
    /* font-weight: 700; */
    /* line-height: 84px; */
    margin-bottom: 16px;
    
    color: #FFFFFF;
    
    text-align: center;
}
.hero-parent span{
    color:#30B868
}
.hero-parent p{
    line-height:24px;
    font-size: 18px;
    width: 100%;
    max-width: 700px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 20px;
    color: #FFFFFF;
}
.hero-btn {
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
    
}


.hero-btn .my-btn1{
    width: 251px;
    height: 52px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border-radius: 4px;
    border: none;
    display:inline-flex;
    padding: 12px 16px;
    background-color:#3f8e60;
    color:rgba(255, 255, 255, 1);
}
.my-btn1:hover{
    background-color: black;
}

.hero-btn .my-btn2{
    width: 198px;
    height: 52px;
    background: none;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
}
.my-btn2 span{
   
    margin: 10px;
    background: none;
    color: white;
}
.my-btn2:hover{
    background-color: rgb(12, 10, 10);
}
/* hero section ends here */

