 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

header{
    background-color: #ffffff;

}
nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}    

.link-parent{
    display: flex;
    gap: 22px;
    list-style: none;
}
.link-parent a{
    display: flex;
    text-decoration: none;
    color:#000000;
}
.btn{
    background-color: #3f8e60;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 24px 120px;
}

