 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    font-family: "Inter", sans-serif;
}
header{
    background-color: #ffffff;
}

/* navbar starts here */
nav {
    padding: 16px 120px;
    border-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
}
.link-parent li a{
    text-decoration: none;
    list-style: none;
    color:#000000;
}
.btn{
    align-items: center;
    background-color: #3f8e60;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-emphasis-color: #ffffff; 
}
.btn:hover{
    background-color: rgb(43, 43, 46);
}
/* navbar ends here */

/* hero section here */
.hero-section{
    background-image: url("assets/hero-bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 674px;
    margin: 0 auto;
}
.hero-parent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} 
.early-access{
    background-color:rgba(255, 255, 255, 1);
    border-radius: 1000px;
    margin-bottom: 16px;
    border: none;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: green; 
}
.early-access:hover{
     background-color: #020d07;
}
.early-access .status-icon{
    background-color: rgba(70, 145, 101, 1);
    border-radius: 8px;
    display: flex;
}
.status-icon::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(29, 121, 68);
}
.hero-parent h1{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}
.hero-parent span{
    color:#30B868
}
.hero-parent p{
    line-height:24px;
    font-size: 18px;
    width: 100%;
    max-width: 700px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 20px;
    color: #FFFFFF;
}
.hero-btn {
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px; 
}
.hero-btn .my-btn1{
    width: 251px;
    height: 52px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border-radius: 4px;
    border: none;
    display:inline-flex;
    padding: 12px 16px;
    background-color:#469165;
    color:#FFFFFF;
}
.my-btn1:hover{
    background-color: black;
}

.hero-btn .my-btn2{
    width: 198px;
    height: 52px;
    background: none;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
}
.my-btn2 span{
    margin: 10px;
    color: white;
}
.my-btn2:hover{
    background-color: rgb(12, 10, 10);
}
/* hero section ends here */
/* about knowledge section starts here */
.knowledge-vault-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
     
}
.knowledge-vault-content h1{
    margin-top: 97px;
    font-weight: 700;
    font-size: 48px;
    
}
.knowledge-vault-content p{
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}
.img{
    background-color: rgba(249, 85, 85, 1);
    max-width: 60px;
    height: 60px;
    padding: 14px 13px;
    border-radius: 100%;
}
 .knowledge-card{
    border-radius: 8px;
    text-align: center;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 44px;
    align-items: center;
    padding-bottom: 71px;
    box-shadow: 0 0 8px 0 #0000000F;
}
.knowledge-card h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    align-items: center;
}
.knowledge-card p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
}
.knowledge-card-parent{
    display: flex;
    gap: 24px;
    margin: 44px 120px 72px;
    margin-bottom: 120px;
}
/* about knowledge section ends here */
/* solution section starts here*/

.solution-section{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between; 
    margin-top: 120px; 
    padding: 0 120px;
    margin-bottom: 120px;
    /* height: 840px; */
}
.knowledge-left{
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
.knowledge-left img{
    max-width: 600px;
    width: 100%;
    height: auto;
}
.knowledge-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
.knowledge-right ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
 }

 .knowledge-right li{
    display: flex;
    align-items: center;
    gap: 7px;
 }
.knowledge-right h6{
    font-weight: 500;
    font-size: 16px;
    color: #20864b;
    margin-bottom: 16px;
    line-height: 20px;
}
.knowledge-right h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    max-width:700px;
    line-height: 100%;
}
.knowledge-right p{
    color: #627382;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width:700px;
}
/* solution section end here */
/* knowledge section start here*/
.knowledge-section{
    background-color: #F7F6F2;
    margin: 2px 120px 120px;
    padding: 80px 40px;
    gap: 40px;
    border-radius: 12px;
    height: 384px;
    text-align: center;
}
.think-clearly h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 16px;
}
.think-clearly p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.access-btn{
    align-items: center;
    background-color: #3f8e60;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-emphasis-color: #ffffff;
    height: 52px;
    display: inline-flex;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}
.access-btn:hover{
    background-color: #063e16;
}
.early-access-btn p{
    color: #627382;
}
/*  knowledge section end here */
/* footer section starts here */
.footer-section{
    background-color:#001931;
    padding: 120px 120px 30px;
    height: 348px;
    border-top: 1px;
    display: flex;
    flex-direction: column;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
}
.footer-right h5{
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;
}
.link-img{
    display: flex;
    gap: 16px;
}
.link-img img{
    width: 20px;
    height: 20px;
}
hr{
    border: none;
    height: 1px;
    background-color: rgba(229, 231, 235, 0.1);
}
.footer-bottom {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(250, 250, 250, 1);
    margin-top: 30px;

}
/* footer section end here */