 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 
.font-inter{
  font-family: "Inter", sans-serif;
}
header{
    background-color: #ffffff;
}

/* navbar starts here */
nav {
    padding: 16px 120px;
    border-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
}
.link-parent li a{
    
    text-decoration: none;
    list-style: none;
    color:#000000;
}
.btn{
    align-items: center;
    background-color: #3f8e60;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-emphasis-color: #ffffff;
    
}
.btn:hover{
    background-color: rgb(43, 43, 46);
}
/* navbar ends here */

/* hero section here */



/* hero section ends here */

